

.like{
    display: flex;
    justify-content: space-between;

}
.likes{
    background-color: chartreuse;
    color: black;
    border: 2px solid white;
    border-radius: 20px;
    width:50px;
    height:30px;
  
}
.fir{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.movies{

    background-color: orange;
    width:340px;
}
.poster{
    width:340px;
    height:500px;
    object-fit: cover;
}
.data{
    padding:10px;
}
.name{
margin: 0;
}
.rate{
    margin: 0;
}
.movieslist{
    /* display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap:20px; */

    display: grid;
    /* RAM method (repeat auto-fit minmax() )*/
    grid-template-columns: repeat(auto-fit,minmax(340px,1fr));
    gap:20px;
    justify-items: center;
}