.like{
    display: flex;
    justify-content: space-between;

}
.likes{
    background-color: chartreuse;
    color: black;
    border: 2px solid white;
    border-radius: 20px;
    width:100px;
    height:40px;
  
}
.fir{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.movies{

    background-color: lightgrey;
    width:340px;
    height:min-content;
}
.poster{
    width:340px;
    height:500px;
    object-fit: cover;
}
.data{
    padding:10px;
}
.name{
margin: 0;
}
.rate{
    margin: 0;
}
.movieslist{
    /* display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap:20px; */
   
    display: grid;
    /* RAM method (repeat auto-fit minmax() )*/
    grid-template-columns: repeat(auto-fit,minmax(340px,1fr));
    gap:20px;
    justify-items: center;
}
.input{
    gap:5px;
    display: flex;
    flex-direction: column;
    width: 800px;
    margin-left: 350px;
    margin-bottom: 50px;
}
