.dis{
    display:flex;
    justify-content: space-around;
}
.con1{
    
    background-color:#FF0099;
    color:white;
    border:2px solid rgb(247, 241, 241);
    padding: 30px;
    width:320px;
    height:auto;
}
.like{
    font-size: 20px;
    background-color: chartreuse;
    color:black;
    width:80px;
    height:60px;
    border-radius: 20%;
    border:1px solid white;
}
.dislike{
    font-size: 20px;
    background-color: chartreuse;
    color:black;
    width:80px;
    height:60px;
    border-radius: 20%;
    border:1px solid white;
}

.pic{
    width:320px;
    height:400px;
}
.first{
    font-size: 20px;
    display: flex;
    word-spacing:120px;
}
.sec{
    font-size: 20px;
    display: flex;
    word-spacing:90px;
}
.cast{
    font-size: 20px;
}
.heading{
    color:black;
}
.li{
    display: flex;
    justify-content: space-between;
}
.book{
 width:300px;
 height:50px;
 background-color: red;
 color:white;
 border: 1px solid white;
 border-radius: 20px;
}